services:
  sabine:
    build: 
      context: .
      dockerfile: Dockerfile
    image: sabine
    container_name: sabine
    restart: unless-stopped
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://localhost:6379
      - NODE_ENV=production
    network_mode: host

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    network_mode: host
    command: redis-server --bind localhost
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli replicaof no one && redis-cli ping']
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  redis_data: