services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: sabine
    container_name: sabine
    restart: unless-stopped
    ports:
      - '5000:3001'
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379
      - NODE_ENV=production

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - '6379:6379'
    restart: unless-stopped
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli replicaof no one && redis-cli ping']
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  redis_data: